<div class="outer-div">
  <div style="max-width: 1200px; margin: auto;">
    <div style=" display: flex; justify-content: space-between; align-items: center; gap: 20px;">
      <div style=" display: flex; justify-content: flex-start; align-items: center; gap: 20px;">
        <button class="btn btn-light" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" routerLink="/dashboard"><i class="fa-solid fa-arrow-left"></i> Back</button>
        <h3 class="heading-1"><i class="fa-solid fa-users" style="color: #2563EB;"></i> Match Scoring</h3>
      </div>
      <div>
        <button class="btn btn-primary" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" (click)="openShareDialog()">Share <i class="fa-solid fa-share-nodes"></i></button>
      </div>
    </div>
    <div class="mt-4" style=" display: flex; justify-self: flex-start; align-items: center; gap: 20px;">
      <button class="btn btn-light" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" routerLink="/teams"><i class="fa-solid fa-arrow-left"></i> Go to Teams</button>
      <button class="btn btn-light" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" routerLink="/pastMatches"><i class="fa-solid fa-arrow-right"></i> Go to Past Matches</button>
      <button class="btn btn-success  " style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" (click)="dialogService.openConfirmDialog()"><i class="fa-solid fa-plus"></i> Create New Match</button>
    </div>
    @if(teamService.teams().length==0){
    <div class="mt-4 px-6 py-12" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; text-align: center; padding: 2rem 3rem;">
      <i class="fa-solid fa-users" style="color: #2563EB; font-size: 40px; margin-bottom: 20px;"></i>
      <h3>No Teams Found</h3>
      <p>You need to add teams before scoring matches.</p>
      <button class="btn btn-light" routerLink="/teams">Go Back to Setup teams</button>
    </div>
    }
    @else {
    <div class="mt-4 mb-4 score-heading">
      @for (team of teamService.teams(); track $index) {
        <div>
          <h1 style="font-size: 24px; color: #4F46E5;">Team {{teamService.getTeamCharacter(team.name)}}</h1>
          <h1 style="font-size: 30px; font-weight: 700;">{{scoreService.getTeamTotalScore(team.name)}} pts</h1>
        </div>
      }
    </div>
    @for (team of teamService.teams(); track $index) {
    <div class="mb-4 score-body">
          <p style="font-size: 1.25rem; font-weight: 600;">Team {{teamService.getTeamCharacter(team.name)}} - Individual Scores</p>
          <table>
            <thead>
              <tr>
                <th style="width: 20%; padding-bottom: 20px;">Member</th>
                <th style="width: 20%; padding-bottom: 20px; text-align: center;">Throw 1</th>
                <th style="width: 20%; padding-bottom: 20px; text-align: center;">Throw 2</th>
                <th style="width: 20%; padding-bottom: 20px; text-align: center;">Throw 3</th>
                <th style="width: 20%; padding-bottom: 20px; text-align: center;">Total</th>
              </tr>
            </thead>
            <tbody>
              @for (member of team.members; track $index) {
                <tr>
                  <td style="padding-bottom: 20px; border-bottom: 2px;">{{member.name}}</td>
                  <td style="padding-bottom: 20px; border-bottom: 2px; text-align: center;">
                    <input type="text" [value]="scoreService.getMemberThrowScore(member.id, 1)" (input)="scoreService.setMemberThrowScore(member.id, 1, $event)" style="width: 100px; margin: 0 auto; text-align: center;" class="form-control" placeholder="0"/>
                  </td>
                  <td style="padding-bottom: 20px; border-bottom: 2px; text-align: center;">
                    <input type="text" [value]="scoreService.getMemberThrowScore(member.id, 2)" (input)="scoreService.setMemberThrowScore(member.id, 2, $event)" style="width: 100px; margin: 0 auto; text-align: center;" class="form-control" placeholder="0"/>
                  </td>
                  <td style="padding-bottom: 20px; border-bottom: 2px; text-align: center;">
                    <input type="text" [value]="scoreService.getMemberThrowScore(member.id, 3)" (input)="scoreService.setMemberThrowScore(member.id, 3, $event)" style="width: 100px; margin: 0 auto; text-align: center;" class="form-control" placeholder="0"/>
                  </td>
                  <td style="padding-bottom: 20px; border-bottom: 2px; text-align: center;">
                    {{scoreService.getMemberTotalScore(member.id)}}
                  </td>
                </tr>
              }
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>
    </div>
    }
    }
  </div>
</div>
