<div class="outer-div">
  <div style="max-width: 1200px; margin: auto;">
    <div style=" display: flex; justify-self: flex-start; align-items: center; gap: 20px;">
      <button class="btn btn-light" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" routerLink="/dashboard"><i class="fa-solid fa-arrow-left"></i> Back</button>
      <h3 class="heading-1"><i class="fa-solid fa-users" style="color: #2563EB;"></i> Team Setup</h3>
    </div>
    <div class="mt-4" style=" display: flex; justify-self: flex-start; align-items: center; gap: 20px;">
      <button class="btn btn-light" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" routerLink="/members"><i class="fa-solid fa-arrow-left"></i> Go to Members</button>
      <button class="btn btn-light" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" routerLink="/score"><i class="fa-solid fa-arrow-right"></i> Go to Score</button>
      <!-- <button class="btn btn-success  " style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" (click)="dialogService.openConfirmDialog()"><i class="fa-solid fa-plus"></i> Create New Match</button> -->
    </div>
    @if(memberService.members().length==0){
    <div class="mt-4 px-6 py-12" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; text-align: center; padding: 2rem 3rem;">
      <i class="fa-solid fa-users" style="color: #2563EB; font-size: 40px; margin-bottom: 20px;"></i>
      <h3>No Members Found</h3>
      <p>You need to add members before setting up teams.</p>
      <button class="btn btn-light" routerLink="/members">Go Back to Add Members</button>
    </div>
    }
    @else {
    <div class="team-setup-body mt-4">
      <div style="background-color: white; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; flex: 1; padding: 20px; height: 500px;">
        <h3 style="margin-bottom: 20px;">Team Configuration</h3>
        <p>Number of Teams</p>
        <select name="team-size" id="team-size" style="width: 100%; border-radius: 5px; padding: 5px;" [(ngModel)]="teamService.selectedTeamSize" (ngModelChange)="teamService.initialise()">
          <option [value]="2" selected>2 Teams</option>
          <option [value]="3">3 Teams</option>
          <option [value]="4">4 Teams</option>
          <option [value]="5">5 Teams</option>  
        </select>
        <button class="btn btn-primary" style="width: 100%; margin-top: 20px;" (click)="teamService.shuffleMembers()">
          <i class="fa-solid fa-arrows-turn-right" style="color: white; font-size: 15px;"></i> Random Assignment
        </button>
        <button class="btn btn-light" style="width: 100%; margin-top: 20px;" (click)="teamService.saveTeam(teamService.teams())">
          Save Teams
        </button>
        <p style="margin-top: 1.5rem;">Total Members: {{memberService.members().length}}</p>
        <p>Members per team: ~{{teamService.removeDecimal(memberService.members().length/teamService.selectedTeamSize())}}</p>
      </div>
      <div style="background-color: white; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; flex: 1; padding: 20px; height: 500px;">
        <h3 style="margin-bottom: 20px;">Manual Assignment</h3>
        <div style="display: flex; flex-direction: column; gap: 20px; height: 400px; overflow-y: scroll; padding-top: 5px;">
        @for (member of memberService.members(); track $index) {
          <div class="team-member-card">
            <p style="font-weight: 700;">{{member.name}}</p>
              <select name="selectTeam" id="selectTeam" style="border-radius: 5px; padding: 3px;"
              [(ngModel)]="teamService.teamAssignment()[member.id]"
              (ngModelChange)="teamService.onMemberTeamChange(member, teamService.teamAssignment()[member.id])">
              <option value="" selected> Team</option>
              @for (index of teamService.teamIndexes; track index) {
                <option [value]="index">
                  Team {{ teamService.getTeamCharacter(index) }}
                </option>
              }
            </select>
          </div>
        }
        </div>
      </div>
      <div style="background-color: white; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; flex: 1; padding: 20px; height: 500px;">
        <h3 style="margin-bottom: 20px;">Current Teams</h3>
        <div class="current-team-card" style="height: 400px; overflow-y: scroll;">
        @for (item of teamService.teamIndexes; track $index) {
            <div>
              <p style="font-weight: 700; margin-bottom: 8px;">Team {{ teamService.getTeamCharacter($index) }}</p>
              <p style="margin-bottom: 8px;">{{teamService.getTeamMember(item+'').length}} Members</p>
              <ul>
                @for (member of teamService.getTeamMember(item+''); track $index) {
                  <li>
                    {{member.name}}
                  </li>
                }
              </ul>
            </div>
        }
        </div>
      </div>
    </div>
    }
  </div>
</div>
