html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.heading-1{
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
.heading-2{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.heading-3{
  color: rgb(75 85 99);
  font-size: 1rem;
}
.outer-div{
   padding: 16px;
   min-height: 100vh;
   background-color: aliceblue;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inner-div{
  height: auto;
  width: auto ;
  text-align: center;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 1.5rem;
  width: 400px;
}
.input-field{
text-align: left;
display: block;
width: 100%;
border: none;
border-radius: 5px;
background-color: #E8F0FE;
}
.input-field-2{
text-align: left;
border: 2px;
border-color: grey;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
padding: 8px 12px;
}
.p-grey{
  color: #4B5563;
  font-size: 14px;
}
.body-head-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  margin: auto;
  padding-bottom: 30px;
}

.body-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 30px;
  margin: auto;
}

@media screen and (width< 768px) {
  .body-head-div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: auto;
}
}

@media screen and (width< 768px) {
  .body-div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: auto;
}
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  .body-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 30px;
  margin: auto;
}
}
.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 20px;
}
.card p:nth-child(2){
  font-size: 20px;
  font-weight: 600;
}
.card p:nth-child(3){
  text-align: center;
}
.card-row-index {
  border-color: grey;
  border-width: 2px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: aliceblue;
  padding: 5px 10px;
}

.highlight-even {
  background-color: #f0f8ff;
}

.highlight-odd {
  background-color: #e0f0ff;
}

.team-member-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
}

.team-member-card p{
  margin-bottom: 0;
}

.current-team-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
}

.current-team-card div{
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  width: 100%;
}

.global-snackbar {
  --mdc-snackbar-container-color: #fdfdfd;
  --mdc-snackbar-supporting-text-color: #000000;
  --mdc-snackbar-action-color: #858585;

  max-width: 400px;
  min-width: 200px;
}

.team-setup-body{
  display: flex; 
  align-items: flex-start; 
  gap: 25px;
}

@media screen and (width< 1024px) {
  .team-setup-body{
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
  gap: 25px;
  }
  .team-setup-body > div {
    width: 100%;
  }
}

.score-heading{
  display: flex; 
  align-items: flex-start; 
  gap: 25px;
}
.score-heading > div {
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
  flex: 1; 
  padding: 20px; 
  height: auto; 
  text-align: center;
}

@media screen and (width<768px){
  .score-heading {
    flex-direction: column;
  }
  .score-heading > div {
    width: 100%;
  }
}

.score-body{
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
  padding: 20px; 
  height: auto; 
  text-align: left; 
  width: 100%; 
}

@media screen and (width<768px){
  .score-body{
    overflow-x: auto;
    white-space: nowrap;
  }
}
